html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: $font-sm;
    font-weight: 400;
    color: $coolGrey;
    line-height: 1.3;
}

a, a:visited, a:hover {
    text-decoration: none;
}

// Text
h1, h2, h3 {
    line-height: 3.75rem;
    margin-top: 0;
    margin-bottom: 0;
    color: $white;
}

h1 {
    font-size: $font-lg;

    @include breakpoint-down(small) {
        font-size: $font-med;
        line-height: 1.885625rem;
    }
}

h3 {
    font-size: $font-med;
}

p {
    line-height: 1.5;
}

.mt-20{
    margin-top: 20px;
}

img {
    width: 100%;
    height: 100%;
}

// Spacing
.container {
    max-width: 90rem;
    margin: 0 auto;
    padding-right: 6.375rem;
    padding-left: 6.375rem;
    padding-top: 5rem;
    padding-bottom: 5.4375rem;

    @include breakpoint-up(xlarge) {
        padding-right: 8.375rem;
        padding-left: 8.375rem;
    }

    @include breakpoint-down(small) {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    &--py {
        padding-top: 5rem;
    }  
}

// Flexbox
.flex {
    display: flex;

    &-dr-cm {
        flex-direction: column;
    }

    &-dr-rw {
        flex-direction: row;
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

// Visibility
.hide-for-mobile {
    @include breakpoint-down(small){
        display: none;
    }
}
  
.hide-for-desktop {
    @include breakpoint-up(medium){
        display: none;
    }
}

// Wine Experience Image
.image-item {

    img {
        border-radius: 0.3125rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 40% center;
    }
    
    &__name {
        font-weight: bold;
    }
}

.slick-slider {
    
    .left-arrow, .right-arrow {
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        border: 1px solid #E0E6ED;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover,
        &:focus {
            border-color: $gunmetal;
        }
    }
}